.pro-workflow.pro-container-item {
    height: 56px;
    min-height: 56px;

    &.pro-container-item-transparent {
        min-height: 28px;
        height: 28px;
    }

    .pro-workflow-steps.pro-workflow-steps-small {
        .pro-workflow-steps-item-icon {
            margin-top: 2px;
        }
        .pro-workflow-steps-item-content {
            display: inline-flex;
            align-items: center;
            height: 28px;
        }
        .pro-workflow-steps-item-title {
            padding-right: 28px;
            font-size: 14px;
            white-space: break-spaces;
            word-wrap: break-word;
            line-height: 14px;
            &::after {
                content: none;
            }
        }
    }
}
