.pro-form-card.pro-container-item {
    padding-bottom: 0;
    &.pro-container-item-transparent {
        .pro-form-card-submitter {
            margin-bottom: 0;
        }
    }

    .pro-form-card-picker {
        width: 100%;
    }

    .pro-form-card-submitter {
        text-align: right;
        margin-bottom: 14px;
        &.pro-form-card-submitter-bottom {
            text-align: left;
        }
    }
}
